* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

.NavLogo img {
    width: 150px;
    margin: 10px 5px;
}

.NavBar {
    background-color: rgb(255, 166, 0);
    display: flex;
}


.NavItems ul {

    display: flex;
    gap: 50px;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;

}

.NavItems li {

    list-style-type: none;
    font-size: 14pt;
    color: white;

    margin-top: 20px;
}

.NavItems {
    padding-left: 350px;
}

.PostArea {
    margin-top: 20px;
    margin-left: 35px;
}

#postinp {
    width: 400px;
    height: 41px;
    padding-left: 5px;
    border: 1px solid rgb(255, 136, 0);
    display: none;
}
#postNow{
    display: none;
}